<template>
  <grid
    :cols="tableData.headers"
    :rows="tableData.values"
    :search="true"
    :sort="true"
    :fixedHeader="true"
  />
</template>

<script>
import Grid from "gridjs-vue";

export default {
  name: "Table",
  components: {
    Grid,
  },
  props: ["tableData"],
};
</script>