<template>
  <div id="app">
    <h1>
      Публичен регистър на лицата, регистрирани по реда на чл. 139а на Закона за
      енергетиката за извършване на услугата дялово разпределение на топлинна
      енергия
    </h1>
    <button v-on:click="isNewTable = !isNewTable" class="myButton">
      <template v-if="isNewTable"> Покажи стария вариант </template>
      <template v-else> Псевдонимизирай </template>
    </button>
    <Table v-if="isNewTable" v-bind:tableData="newData" />
    <Table v-else v-bind:tableData="oldData" />
  </div>
</template>

<script>
import Table from "./components/Table.vue";
import { oldData, newData } from "./components/data";

export default {
  name: "App",
  components: {
    Table,
  },
  data: () => ({
    isNewTable: false,
    oldData,
    newData,
  }),
};
</script>

<style scoped>
.myButton {
  box-shadow: 0px 10px 12px -7px #9fb4f2;
  background: linear-gradient(to bottom, #6381b5 5%, #476e9e 100%);
  background-color: #6381b5;
  border-radius: 5px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
.myButton:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #6381b5 100%);
  background-color: #476e9e;
}
.myButton:active {
  position: relative;
  top: 1px;
}
</style>